<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 form-group">
            <label>A utilização de Bluetooth do smartphone em determinados momentos parece uma boa opção? Comente.</label>
            <textarea class="form-control" rows="5" ng-model="machine.new.resposta3"></textarea>
            <br>
            <br>
            <br>
            <div class="col-md-12">
                <p>
                    <button align="center" class="btn btn-info" ng-click="save()">Enviar Feedback</button>
                </p>
            </div>
        </div>
    </div>
</div>