<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 form-group">
            <label>Nome:</label>
            <input ng-model="machine.new.nome" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Idade:</label>
            <input ng-model="machine.new.idade" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Naturalidade:</label>
            <input ng-model="machine.new.naturalidade" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Sexo:</label>
            <input ng-model="machine.new.sexo" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Telefone:</label>
            <input ng-model="machine.new.telefone" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Email:</label>
            <input ng-model="machine.new.email" class="form-control" />
        </div>
    </div>
</div>