<div class="row" align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rdYSHblDu6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<div class="row" align="center">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="downloadApp()" tyle="margin-top: 30px">Download
      BlueLight.apk</button>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-click="feedback()" style="margin-top: 30px">Novo Feedback</button>
  </div>
</div>

<!-- <dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Acquisition Channels"
       ba-panel-class="medium-panel traffic-panel">
    <traffic-chart></traffic-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Users by Country"
       ba-panel-class="medium-panel">
    <dashboard-map></dashboard-map>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xlg-8 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="Revenue"
           ba-panel-class="medium-panel">
        <dashboard-line-chart></dashboard-line-chart>
      </div>
      <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel
           ba-panel-class="popular-app medium-panel">
        <popular-app></popular-app>
      </div>
    </div>
  </div>
  <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Feed"
       ba-panel-class="large-panel with-scroll feed-panel">
    <blur-feed></blur-feed>
  </div>
</div>

<div class="row shift-up">
  <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="To Do List"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
    <dashboard-todo></dashboard-todo>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="Calendar"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll calendar-panel">
    <dashboard-calendar></dashboard-calendar>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="col-md-1">
        <label>Exibir:</label>
        <select class="form-control .col-md-1" title="" ng-model="pageSize" ng-options="i for i in [5,10,15,20,25]">
        </select>
        <p class="input-group"></p>
    </div>
    <div class="col-md-2">
        <label>Número:</label>
        <input class="form-control .col-md-2" ng-model="filtro.numero" ng-change="draw()"/>
    </div>
    <br>
    <div class="col" align="right" style="margin-right: 15px">
        <button class="btn btn-info" ng-click="inserir()">Nova Maquininha</button>
    </div>
</div>
<br>
<div class="horizontal-scroll">
    <table class="table table-hover" st-table="machines" st-safe-src="machine">
        <thead>
            <tr class="sortable">
                <th width="50%" class="table-id" st-sort="id" st-sort-default="true">Número</th>
                <th width="50%" st-sort="label">Label</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in machines" class="editable-row" ng-click="selectMachine(item.number)">
                <td class="table-id">{{item.number}}</td>
                <td>{{item.label}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</div> -->

<!--<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <blur-weather forecast="5"></blur-weather>
    </div>
  </div>
</div>-->