<div class="row">
    <div class="col-md-1">
        <label>Exibir:</label>
        <select class="form-control .col-md-1" title="" ng-model="pageSize" ng-options="i for i in [5,10,15,20,25]">
        </select>
        <p class="input-group"></p>
    </div>
    <div class="col-md-2">
            <label>Documento:</label>
            <input class="form-control .col-md-2" ng-model="filtro.documento" ng-change="draw()"/>
        </div>
    <br>
    <div class="col" align="right" style="margin-right: 15px">
        <button class="btn btn-info" ng-click="inserir()">Novo Eletricista</button>
    </div>
</div>
<br>
<div class="horizontal-scroll">
    <table class="table table-hover" st-table="electricians" st-safe-src="electrician">
        <thead>
            <tr class="sortable">
                <th width="33%" class="table-id" st-sort="id" st-sort-default="true">Documento</th>
                <th width="33%" st-sort="date">Nome</th>
                <th width="33%" st-sort="rate">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in electricians" class="editable-row" ng-click="selectElectrician(item.doc)">
                <td class="table-id">{{formatCpf(item.doc)}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>