<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 form-group">
            <label>Pergunta:</label>
            <input ng-model="machine.new.pergunta" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Resposta:</label>
            <input ng-model="machine.new.resposta" class="form-control" />
        </div>
        <button type="button" class="btn btn-success" ng-click="save()" style="margin-top: 30px">Salvar</button>
    </div>
</div>