<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 form-group">
            <label>Caminho:</label>
            <input ng-model="machine.new.caminho" class="form-control" />
        </div>
        <div class="col-md-6 form-group">
            <label>Descrição:</label>
            <input ng-model="machine.new.descricao" class="form-control" />
        </div>
        <button type="button" class="btn btn-success" ng-click="save()" style="margin-top: 30px">Salvar</button>
    </div>
</div>